<!doctype html>
<html ng-app="appModule">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
		<!-- angular.js를 로드하고, HTML페이지가 모두 로드된 후에 브라우저에 의해 실행되는 콜백을 등록-->
		<style type="text/css">
			.table {border:1px solid black; text-align:center; vertical-align:middle; width:400px;}
			.table > .title {background-color:#F5AF64; text-align:center; color:black; padding:.1em .3em; cursor:pointer;}
			.talbe > .body {background-color:#FFE4E1; padding:.1em .3em;}
		</style>
		<script type="text/javascript" charset="utf-8">
			angular.module('appModule', [])
				.controller('myCtrl', function($scope){
					$scope.items = [
						{title : 'What is Frontend Developer?', content : 'HTml 코더, 웹퍼블리셔, UI 개발자의 업무 전체를 수행할 수 있는 웹 개발자'},
						{title : '업무 성격', content : '업무의 성격상 웹 디자이너, 백엔드 프로그래머, 웹 기획자 등과 활발한 커뮤니케이션이 중요한 성격을 가지고 있다.'},
						{title : '대우', content : '해외의 경우 자바스크립트 개발자가 $98,000 to $103,000, HTML5 전문 개발자가 $64,000 to $72,000라고 발표되었을 만큼 수요가 있다.'},
					];
				})
				.directive('myTitle', function(){
					return {
						restrict : 'E',
						replace : true,
						transclude : true,
						template : '<div ng-transclude></div>',
						controller : function(){
							var items = [];
							this.addItem = function(item){
								items.push(item);
							}
						}
					};
				})
				.directive('myContent', function(){
					return {
						restrict : 'E',
						replace : true,
						transclude : true,
						require : '^?myTitle',
						scope : {title : '=itemTitle'},
						template : '<div>' +
								   '<div class="title" ng-click="click()">{{title}}</div>' +
								   '<div class="body" ng-show="showMe" ng-transclude></div>' +
								   '</div>',
						link : function(scope, element, attrs, controller){
							scope.showMe = false;
							controller.addItem(scope);
							scope.click = function click(){
								scope.showMe = !scope.showMe;
							}
						}
					};
				});

		</script>
	</head>
	<body ng-controller="myCtrl">
	<p>다음 예제는 디렉티브 규칙중 controller와 require, link 규칙을 활용하여 디렉티브와 디렉티브간의 통신을 보여주는 예제이다.<br />
	myContent 디렉티브의 require 옵션을 이용하여 myTitle 디렉티브르 주입받은 다음 자신의 link() 내에서 주입받은 myTitle 디렉티브의 controller()에 this로 정의한 addItem()을 사용하고 있다.</p>
		<my-title>
			<my-content class='table' ng-repeat='item in items' item-title='item.title'>
				{{item.content}}
			</my-content>
		</my-title>
	</body>
</html>
