<!DOCTYPE HTML>
<html id="ng-app" ng-app="app"> <!-- id="ng-app" IE<8 -->

<head>
    <link rel="stylesheet" href="http://nervgh.github.io/css/animate.min.css" />

    <style>
        .pictures {
            border: 1px solid;
            width: 800px;
            height: 536px;
            overflow: hidden;
            text-align: center;
            padding: 0px;
        }
        .pictures img {
            position: relative;
			max-width:100%;
			height:auto;
        }
    </style>

    <script src="http://nervgh.github.io/js/angular/angular-1.1.5.min.js"></script>

    <script>
        angular.module( 'app', [])
            .run( function( $rootScope, $timeout ) {
                $rootScope.model = {};

                $rootScope.model.transitions = 'bounce|bounceIn|bounceInDown|bounceInLeft|bounceInRight|bounceInUp|bounceOut|bounceOutDown|bounceOutLeft|bounceOutRight|bounceOutUp|fadeIn|fadeInDown|fadeInDownBig|fadeInLeft|fadeInLeftBig|fadeInRight|fadeInRightBig|fadeInUp|fadeInUpBig|fadeOut|fadeOutDown|fadeOutDownBig|fadeOutLeft|fadeOutLeftBig|fadeOutRight|fadeOutRightBig|fadeOutUp|fadeOutUpBig|flash|flip|flipInX|flipInY|flipOutX|flipOutY|hinge|lightSpeedIn|lightSpeedOut|pulse|rollIn|rollOut|rotateIn|rotateInDownLeft|rotateInDownRight|rotateInUpLeft|rotateInUpRight|rotateOut|rotateOutDownLeft|rotateOutDownRight|rotateOutUpLeft|rotateOutUpRight|shake|swing|tada|wobble'.split( '|' );
                $rootScope.model.images = 'danpung1.jpg|danpung2.jpg|danpung3.jpg|danpung4.jpg'.split( '|' );

                $rootScope.tick = function() {
                    $rootScope.model.images.unshift( $rootScope.model.images.pop() );
                    $timeout( $rootScope.tick, 2000 );
                };

                $rootScope.tick();
            });
    </script>

</head>
<body>
	Move:
    <select ng-model="model.move" ng-options="item for item in model.transitions" ng-init="model.move = 'bounceInLeft'">
    </select>

	<div class="pictures">
        <img ng-repeat="item in model.images" ng-src="img/{{item}}" ng-animate="{move:'animated '+ model.move }" />
    </div>

</body>
</html>
