<form role="form">
	<div class="row">
		<div class="col-md-8">
			<label class="sr-only" for="search">검색어</label>
			<input type="text" class="form-control" id="search" placeholder="검색어를 입력하세요." ng-model="searchKey" />
		</div>
		<div class="col-md-4">
			<div class="row">
				<label for="sort" class="control-label col-md-4 text-right">정렬</label>
				<div class="col-md-8">
					<select class="form-control" ng-model="orderByProp">
						<option value="no">번호</option>
						<option value="singer">가수</option>
						<option value="title">노래제목</option>
						<option value="album.name">앨범명</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</form>

<p>검색 키워드 : {{searchKey || '없음'}} ----- 정렬 기준 : {{orderByProp}}</p>

<section id="section-1" class="list-sec">
	<h1 class="tit">Ballad Best 100 : 1~10위</h1>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="song in songs.slice(0, 10) | filter:searchKey | orderBy:orderByProp">
			<span class="no">{{song.no+1}}</span>
			<img class="cover" ng-src="{{song.album.cover}}" />
			<a href="#/songs/{{song.id}}" class="song">{{song.singer}} -「{{song.title}}」 from 『{{song.album.name}}』/ 작사. {{song.album.Lyrics}}, 작곡. {{song.album.Composed}}</a>
		</li>
	</ul>
</section>

<section id="section-2" class="list-sec">
	<h1 class="tit">Ballad Best 100 : 11~20위</h1>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="song in songs.slice(10, 20) | filter:searchKey | orderBy:orderByProp">
			<span class="no">{{song.no+1}}</span>
			<img class="cover" ng-src="{{song.album.cover}}" />
			<a href="#/songs/{{song.id}}" class="song">{{song.singer}} -「{{song.title}}」 from 『{{song.album.name}}』/ 작사. {{song.album.Lyrics}}, 작곡. {{song.album.Composed}}</a>
		</li>
	</ul>
</section>

<section id="section-3" class="list-sec">
	<h1 class="tit">Ballad Best 100 : 21~30위</h1>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="song in songs.slice(20, 30) | filter:searchKey | orderBy:orderByProp">
			<span class="no">{{song.no+1}}</span>
			<img class="cover" ng-src="{{song.album.cover}}" />
			<a href="#/songs/{{song.id}}" class="song">{{song.singer}} -「{{song.title}}」 from 『{{song.album.name}}』/ 작사. {{song.album.Lyrics}}, 작곡. {{song.album.Composed}}</a>
		</li>
	</ul>
</section>

<section id="section-4" class="list-sec">
	<h1 class="tit">Ballad Best 100 : 31~40위</h1>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="song in songs.slice(30, 40) | filter:searchKey | orderBy:orderByProp">
			<span class="no">{{song.no+1}}</span>
			<img class="cover" ng-src="{{song.album.cover}}" />
			<a href="#/songs/{{song.id}}" class="song">{{song.singer}} -「{{song.title}}」 from 『{{song.album.name}}』/ 작사. {{song.album.Lyrics}}, 작곡. {{song.album.Composed}}</a>
		</li>
	</ul>
</section>

<div class="text-right"><button ng-click="toTheTop()" class="btn btn-default">위로</button></div>
