/*@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);@import url(http://fonts.googleapis.com/css?family=Ubuntu:500);@font-face {
    font-family: 'aCNML';
    src: url('aCNML.eot');
    src: url('aCNML.eot') format('embedded-opentype'),url('aCNML.woff') format('woff')
}*/
body {
  font-size: 16px;
  color:#444;
  font-family: "aCNML", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.tocify {position:static; width:100%; max-height:60%; margin-left:0 !important;}
.tocify ul, .tocify li {border-bottom:1px solid #ddd;}
.ui-widget-content a {font-size:14px; line-height:2; text-align:left;}
.tocify > ul > li + ul {border-bottom:none;}
.tocify > ul > ul > li > a {font-size:12px !important;}
.tocify > ul > ul > li + ul {border-bottom:none;}
.tocify > ul > ul > ul > li > a {font-size:11px !important;}
.tocify > ul > ul > ul > li + ul {border-bottom:none;}
.tocify > ul > ul > ul > ul > li > a {display:block;width:250px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;font-size:11px !important;}
.tocify > ul > ul > ul > ul > li:last-child {border-bottom:none;}

em {font-style:normal; color:red;}

header {height:80%;}
header h1 {margin-bottom:0px; font-size:38px;}

footer {bottom:0;}
footer p {margin-bottom:10px;}

.markdown-body code {border-radius:6px;}
