<!-- Site built using grunt includes! -->
 <!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Front End Development Note</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="http://gregfranko.com/jquery.tocify.js/css/jquery.ui.all.css" />
    <link rel="stylesheet" href="http://gregfranko.com/jquery.tocify.js/css/jquery.tocify.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="http://mylko72.github.io/FEDNote/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="http://mylko72.github.io/FEDNote/stylesheets/markdown.css">
    <link rel="stylesheet" href="http://mylko72.github.io/FEDNote/stylesheets/github.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/markdown-toc.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
	
	  <!-- header //-->
	  	      <header>
	  	        <h1>FED Note</h1>
	  	        <p>Front End Development</p>

	  	        <p class="view"><a href="https://github.com/mylko72/FEDNote">View the Project on GitHub <small>mylko72/FEDNote</small></a></p>
	  			<div id="toc"></div>

	  	        <!--<ul>
	  	          <li><a href="https://github.com/mylko72/FEDNote/zipball/master">Download <strong>ZIP File</strong></a></li>
	  	          <li><a href="https://github.com/mylko72/FEDNote/tarball/master">Download <strong>TAR Ball</strong></a></li>
	  	          <li><a href="https://github.com/mylko72/FEDNote">View On <strong>GitHub</strong></a></li>
	  			</ul>-->
	  	      </header>

	  <!--// header -->

      <section class="markdown-body">
		  <div id="preview">
		  <!-- start -->
		  <h1 id="angularjs-br-">AngularJS로 하는<br />웹 애플리케이션 개발</h1>
<h2 id="-">백엔드 서버와 통신</h2>
<h2 id="-">데이터 포맷과 출력</h2>
<h3 id="-">디렉티브에 대한 참조</h3>
<p>HTML 템플릿에서 디렉티브 참조 이름에는 접두사로 x나 data를 사용할 수 있다. 
data 접두사를 사용하면 HTML 문서가 HTML5를 준수하게 만드는 데 매우 편리하고, HTML5 유효성 테스트를 통과할 수 있게 해준다.</p>
<h3 id="-">표현식 평가 결과 출력</h3>
<h4 id="-">인터폴레이션 디렉티브</h4>
<p>이중괄호로 구성되는 표현식을 처리한다.</p>
<pre><code><span class="tag">&lt;<span class="title">span</span>&gt;</span><span class="variable">{{expression}}</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span></code></pre>
<p>AngularJS 표현식에 사용하는 구분자를 변경할 수 있다. 서버 측 다른 언어 템플릿과 AngularJS를 같이 사용해야 할 때 유용하다.</p>
<p><code>$interpolateProvider</code>의 설정 함수를 사용하면 된다.</p>
<pre><code class="lang-javascript">
myModule.config(<span class="keyword">function</span>($interpolateProvider){
    $interpolateProvider.startSymbol(<span class="string">'[['</span>);
    $interpolateProvider.endSymbol(<span class="string">']]'</span>);
});</code></pre>
<p>변경하고 나면 다음처럼 작성할 수 있다.</p>
<pre><code><span class="string">[[expression]]</span></code></pre>
<h4 id="ngbind-">ngBind로 모델 값 렌더링</h4>
<p>인터폴레이션 디렉티브는 <code>ng-bind</code>라는 디렉티브와 동일하다.</p>
<pre><code><span class="tag">&lt;<span class="title">span</span> <span class="attribute">ng-bind</span>=<span class="value">"expression"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span></code></pre>
<p>보통 AngularJS가 첫 페이지를 로딩할 때 표현식이 처리되기 전에는 해당 표현식을 숨기고자 할 때 <code>ng-bind</code> 디렉티브를 사용한다.
이를 통해 UI가 깜빡거리는 현상을 막을 수 있어 사용자에게 더 좋은 경험을 제공한다.</p>
<h4 id="angularjs-html">AngularJS 표현식 안의 HTML</h4>
<p>기본적으로 AngularJS는 인터폴레이션 디렉티브가 평가하는 표현식 내부에 포함된 HTML 마크업은 처리하지 않는다.</p>
<pre><code class="lang-javascript">$scope.msg = <span class="string">'Hello, &lt;b&gt;World&lt;/b&gt;!'</span>;</code></pre>
<pre><code><span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="variable">{{msg}}</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span></code></pre>
<p>이 마크업은 <code>&lt;b&gt;</code> 태그가 처리되지 않기 때문에 일반 문자열로 보여준다.</p>
<pre><code><span class="tag">&lt;<span class="title">p</span>&gt;</span>Hello, &amp;lt;b&amp;gt;World&amp;lt;/b&amp;gt;!<span class="tag">&lt;/<span class="title">p</span>&gt;</span></code></pre>
<p>이렇게 처리하는 이유는 HTML 주입 공격을 방지하기 위해서다.</p>
<p>모델에 담긴 HTML 마크업을 평가해서 렌더링할 특별한 이유가 있다면 HTML 태그 방지 기능을 꺼주는 <code>ng-bind-html-unsafe</code> 디렉티브를 사용하면 된다.</p>
<pre><code><span class="tag">&lt;<span class="title">p</span> <span class="attribute">ng-bind-html-unsafe</span>=<span class="value">"msg"</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span></code></pre>
<p>HTML 태그를 방지하는 또 하나의 디렉티브인 <code>ng-bind-html</code>도 있다.</p>
<pre><code><span class="tag">&lt;<span class="title">p</span> <span class="attribute">ng-bind-html</span>=<span class="value">"msg"</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span></code></pre>
<p>HTML 태그를 방지하는 면에 있어 <strong><em><code>ng-bind-html</code> 디렉티브는</em></strong> 모든 HTML 태그를 허용하는 <code>ng-bind-html-unsafe</code> 디렉티브와 HTML 태그를 전혀 허용하지 않는 인터폴레이션 디렉티브의 절충안이다. 특히 <strong><em>사용자가 입력한 HTML 태그만을 허용하고 싶은 경우에 쓰기 좋다.</em></strong></p>
<p><code>ng-bind-html</code> 디렉티브는 <code>angular-sanitize.js</code> 파일을 포함해야지만 사용할 수 있다. 그리고 <code>ngSanitize</code> 모듈에 대한 의존성을 선언해야 한다.</p>
<pre><code class="lang-javascript">angular.module(<span class="string">'expressEscaping'</span>, [<span class="string">'ngSanitize'</span>])
    .controller(<span class="string">'ExpressionEscapingCtrl'</span>, <span class="keyword">function</span>($scope){
        $scope.msg = <span class="string">'Hello, &lt;b&gt;World&lt;/b&gt;!'</span>;    
    });</code></pre>
<h3 id="-">조건부 출력</h3>
<p>AngularJS는 4가지의 디렉티브를 제공한다.(ng-show/ng-hide, ng-switch-*, ng-if, ng-include).</p>
<p><code>ng-show/ng-hide</code>와 <code>ng-switch</code>의 가장 큰 차이점은 DOM 요소가 처리되는 방식이다. <code>ng-switch</code> 디렉티브는 DOM 트리에서 DOM 요소를 실제로 추가/삭제하는 반면
<code>ng-show/ng-hide</code> 디렉티브는 요소를 숨기기 위해 단순히 style=&quot;display:none;&quot;만 적용한다. 그리고 <code>ng-switch</code> 디렉티브는 새로운 스코프를 생성한다.</p>
<h4 id="-ng-include-">조건별로 특정 블럭 추가(ng-include)</h4>
<p><code>ng-include</code> 디렉티브는 AngularJS 기반의 마크업을 동적으로 특정 조건에 따라 보여줄 수 있다. 그래서 이 디렉티브를 사용하면 표현식 결과에 따라
화면을 다르게 보여줄 수 있다. 즉, 동적인 페이지를 쉽게 만들 수 있다.</p>
<p>다음은 관리자 권한을 가진 사용자에게만 다른 화면을 보여주는 코드이다.</p>
<pre><code><span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-include</span>=<span class="value">"user.admin &amp;&amp; 'edit.admin.html' || 'edit.user.html'"</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>
<blockquote>
<p>관련내용</p>
<ul>
<li><a href="http://mylko72.maru.net/jquerylab/angularJS/angularjs.html?hn=1&amp;sn=7#h3_6">조건적인 데이터 표현을 위한 템플릿</a></li>
</ul>
</blockquote>
<h3 id="ngrepeat-">ngRepeat 디렉티브로 컬렉션 렌더링</h3>
<p><code>ng-repeat</code> 디렉티브는 컬렉션의 항목을 하나씩 순회하면서 항목마다 새로운 DOM 요소를 생성해준다. 단순히 컬렉션을 렌더링하는 일만 하는게 아니라 끊임없이
데이터를 지켜보다가 데이터가 변경되면 템플릿을 다시 그려주는 일도 해준다.</p>
<h4 id="-">특별한 변수</h4>
<p>AngularJS 반복자는 요소마다 생성된 스코프에 특별한 변수를 선언한다.</p>
<ul>
<li>$index 컬렉션에서 요소의 인덱스를 가리킨다(0부터 시작).</li>
<li>$first, $middle, $last  이 변수들은 요소의 위치에 따라 불리언 값을 가진다.</li>
</ul>
<p>다음은 <code>$last</code> 변수를 사용해 breadscrumb 요소에 대한 링크를 적절히 보여준다. 마지막 경로는 링크를 붙이지 않아도 되지만,
다른 경로들은 <code>&lt;a&gt;</code> 요소를 붙인다.</p>
<pre><code class="lang-javascript">&lt;li ng-repeat=<span class="string">"breadscrumb in breadscrumb.getAll()"</span>&gt;
    <span class="xml"><span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">"divider"</span>&gt;</span>/<span class="tag">&lt;/<span class="title">span</span>&gt;</span>
    <span class="tag">&lt;<span class="title">ng-switch</span> <span class="attribute">on</span>=<span class="value">"$last"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">span</span> <span class="attribute">ng-switch-when</span>=<span class="value">"true"</span>&gt;</span>{{breadscrumb.name}}<span class="tag">&lt;/<span class="title">span</span>&gt;</span>
        <span class="tag">&lt;<span class="title">span</span> <span class="attribute">ng-switch-default</span>&gt;</span>
            <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"{{breadscrumb.path}}"</span>&gt;</span>{{breadscrumb.name}}<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">span</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">ng-switch</span>&gt;</span>
<span class="tag">&lt;/<span class="title">li</span>&gt;</span></span></code></pre>
<h4 id="ngrepeat-ngclass-">ngRepeat패턴을 활용한 ngClass디렉티브</h4>
<p>리스트에 줄무늬 색을 입히는 건 가독성을 높이는 좋은 방법이다. 이를 위해 <code>ngClassEven</code>과 <code>ngClassOdd</code>라는 디렉티브를 제공한다.</p>
<pre><code><span class="tag">&lt;<span class="title">tr</span> <span class="attribute">ng-repeat</span>=<span class="value">"user in users"</span>
    <span class="attribute">ng-class-even</span>=<span class="value">"'light-gray'"</span> <span class="attribute">ng-class-odd</span>=<span class="value">"'dark-gray'"</span>&gt;</span>
    ...
<span class="tag">&lt;/<span class="title">tr</span>&gt;</span></code></pre>
<p><code>ngClass</code>는 매우 강력하며 <code>ngClass</code>룰 이용해 다시 작성할 수 있다.</p>
<pre><code><span class="xml"><span class="tag">&lt;<span class="title">tr</span> <span class="attribute">ng-repeat</span>=<span class="value">"user in users"</span>
    <span class="attribute">ng-class</span>=<span class="value">"{'dark-gray' : !</span><span class="variable">$index</span><span class="xml">%</span><span class="number">2</span><span class="xml">, 'light-gray' : </span><span class="variable">$index</span><span class="xml">%</span><span class="number">2</span><span class="xml">}"&gt;
    ...
<span class="tag">&lt;/<span class="title">tr</span>&gt;</span></span></code></pre>
<p><code>ngClass</code> 디렉티브는 객체를 인자로 받는다. 이 객체는 클래스 이름을 키로 사용하고, 조건을 나타내는 표현식을 값으로 사용한다.
그리고 이 표현식의 평가 결과에 따라 키로 선언한 클래스를 요소에 추가하거나 삭제한다.</p>
<h4 id="ngrepeat-dom-">ngRepeat과 여러 DOM 요소</h4>
<p>ng-repeat은 형제 요소들을 관리하지 않는다. 이 말은 마치 ng-repeat 디렉티브를 사용하려면 컨테이너 요소가 필요하고, 특정 HTML 구조를 생성해야 하는 것처럼 보인다.
하지만 ng-repeat 디렉티브를 넣을 만한 HTML 요소가 없는 경우도 많다.
다음과 같은 이름과 세부내용으로 구성된 HTML을 사용해야 한다고 생각해 보자.</p>
<pre><code><span class="tag">&lt;<span class="title">ul</span>&gt;</span>
    <span class="comment">&lt;!-- 반복자를 여기에 추가하고 싶다. --&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">strong</span>&gt;</span><span class="variable">{{item.name}}</span><span class="tag">&lt;/<span class="title">strong</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="variable">{{item.description}}</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="comment">&lt;!-- 여기까지만 반복 --&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></code></pre>
<p>AngularJS 새 버전(1.2.x)부터는 ngRepeat 디렉티브의 기본 문법을 확장해 반복할 DOM 요소를 지정할 수 있다. 다시 작성하면 다음과 같다.</p>
<pre><code><span class="tag">&lt;<span class="title">ul</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span> <span class="attribute">ng-repeat-start</span>=<span class="value">"item in items"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">strong</span>&gt;</span><span class="variable">{{item.name}}</span><span class="tag">&lt;/<span class="title">strong</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span> <span class="attribute">ng-repeat-end</span>&gt;</span><span class="variable">{{item.description}}</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></code></pre>
<p><strong><em><code>ng-repeat-start</code>와 <code>ng-repeat-end</code> 속성을 사용함으로써 반복할 형제 DOM 요소 그룹을 지정할 수 있다.</em></strong></p>
<blockquote>
<p>관련내용</p>
<ul>
<li><a href="http://mylko72.maru.net/jquerylab/angularJS/angularjs.html?hn=1&amp;sn=7#h3_5">반복적인 데이터 표현을 위한 템플릿</a></li>
<li>예제) <a href="/angularjs/ngrepeat/index.html">ngRepeat 패턴을 이용한 list와 view</a></li>
</ul>
</blockquote>
<h3 id="dom-">DOM 이벤트 핸들러</h3>
<p>DOM 이벤트 핸들러에는 실제 DOM 이벤트를 가리키는 <code>$event</code> 라는 특별한 인자를 표현식에서 사용할 수 있다. <code>$event</code>를 통해 이벤트의 내부 프로퍼티에 접근할 수 있어 기본 동작을 변경하거나
이벤트가 전파되는 것을 막는 등의 추가 작업을 할 수 있다. 예를 들어 선택한 요소의 현재 위치를 어떻게 읽어오는지 보자.</p>
<pre><code><span class="tag">&lt;<span class="title">ul</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span> <span class="attribute">ng-repeat</span>=<span class="value">"item in items"</span> <span class="attribute">ng-click</span>=<span class="value">"logPosition(item, $event)"</span>&gt;</span>
        <span class="variable">{{item}}</span>
    <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></code></pre>
<pre><code class="lang-javascript">    $scope.items = [<span class="string">'foo'</span>, <span class="string">'bar'</span>, <span class="string">'baz'</span>];

    $scope.logPosition = <span class="function"><span class="keyword">function</span> <span class="params">(item, $event)</span> {</span>
      console.log(item + <span class="string">' was clicked at: '</span> + $event.clientX + <span class="string">','</span> + $event.clientY);
    };</code></pre>
<blockquote>
<p>관련내용</p>
<ul>
<li><a href="http://mylko72.maru.net/jquerylab/angularJS/angularjs.html?hn=1&amp;sn=7#h3_9">이벤트 처리를 위한 템플릿</a></li>
</ul>
</blockquote>
<h3 id="-">필터로 모델 변형 다루기</h3>
<p>AngularJS 표현식에는 필터라는 특별한 포맷 함수를 지원한다.</p>
<pre><code>{{user.signedUp | <span class="built_in">date</span>:<span class="comment">'yyyy-MM-dd'}}</span></code></pre>
<p>이 코드는 사용자의 가입 날짜를 특정한 서식에 맞춰 표현하기 위해 date 필터를 사용한 예다. </p>
<p>필터는 뷰에서 파이프(|)를 사용해 호출하는 전역함수라고 보면 된다. 인자는 콜론(:)으로 구분한다. 예제 코드를 다음과 같이 formatDate 함수를 사용해 작성할 수도 있다.</p>
<pre><code><span class="variable">{{formatDate(user.signedUp, 'yyyy-MM-dd')}}</span></code></pre>
<p>필터는 매개 변수를 사용할 수 도 있고 여러개의 필터를 파이프라인으로 묶어 함께 사용(체인)할 수도 있다.</p>
<p>예를 들어 문자열의 길이를 80개로 제한하고 모든 글자를 소문자로 변경하는 코드는 다음과 같다.</p>
<pre><code><span class="tuple">{<span class="tuple">{my<span class="variable">LongString</span> | limit<span class="variable">To</span>:<span class="number">80</span> | lower<span class="keyword">case</span>}}</code></pre>
<h4 id="-">기본 제공 필터</h4>
<h5 id="-">서식 변경 필터</h5>
<p>currency | date | number | lowercase | uppercase | json</p>
<h5 id="-">배열 변경 필터</h5>
<p>limitTo | Filter | orderBy</p>
<h5 id="-filter-">&#39;filter&#39; 필터 적용</h5>
<p><code>filter</code> 필터는 배열의 부분 집합을 가져올 때 사용하는 일반적인 목적의 필터링 함수다.</p>
<pre><code>Search <span class="keyword">for</span> : &lt;input type=<span class="string">"text"</span> ng-model=<span class="string">"criteria"</span>&gt;
<span class="keyword">...</span>
<span class="keyword">...</span>
&lt;tr ng-<span class="keyword">repeat</span>=<span class="string">"backlogItem in backlog | filter:criteria"</span>&gt;
    <span class="keyword">...</span>
    <span class="keyword">...</span>
&lt;/tr&gt;</code></pre>
<p>입력창의 값을 필터의 인자로 연결하여 모든 항목에 대해 입력된 문자열을 포함하는 항목만 표시한다.</p>
<p>하지만 좀 더 정교하게 비교하고 싶다면 필터의 인자로 객체를 사용하면 된다.</p>
<p>이제 프로퍼티 중에 이름이 일치하고 아직 완료되지 않은 항목만 추리고 싶다고 해 보자.</p>
<pre><code><span class="tag">&lt;<span class="title">tr</span> <span class="attribute">ng-repeat</span>=<span class="value">"item in backlog | filter:{name: criteria, done: false}"</span>&gt;</span></code></pre>
<p>이 코드는 인자로 넘긴 객체의 모든 프로퍼티가 일치해야만 통과한다. 즉, AND 연산자로 묶는 것과 같다고 말할 수 있다.</p>
<p>객체의 모든 프로퍼티에 대해 문자열 비교를 하되 완료되지 않은 항목만 추리고 싶다면 다음과 같이 작성할 수 있다.</p>
<pre><code><span class="xml"><span class="tag">&lt;<span class="title">tr</span> <span class="attribute">ng-repeat</span>=<span class="value">"item in backlog | filter:{</span><span class="variable">$:</span><span class="xml"> criteria, done: false}"&gt;</span></code></pre>
<p>함수를 필터의 인자로 사용할 수 있다. 컬렉션의 항목마다 이 함수가 호출되며, 함수 호출 결과가 true인 항목만 결과 배열로 취함한다.</p>
<pre><code class="lang-javascript">$scope.doneAndBigEffort = <span class="keyword">function</span>(backlogItem){
    <span class="keyword">return</span> backlogItem.done &amp;&amp; backlogItem.estimation &gt; <span class="number">20</span>;
};</code></pre>
<pre><code><span class="tag">&lt;<span class="title">tr</span> <span class="attribute">ng-repeat</span>=<span class="value">"item in backlog | filter:doneAndBigEffort"</span>&gt;</span></code></pre>
<h5 id="-">걸러진 결과의 개수</h5>
<blockquote>
<p>관련내용</p>
<ul>
<li><a href="http://mylko72.maru.net/jquerylab/angularJS/angularjs.html?hn=1&amp;sn=7#h2_8">필터를 사용하고 만들어 보자</a></li>
</ul>
</blockquote>
<h2 id="-">고급 폼 작성</h2>
<h2 id="-">내비게이션 구성</h2>
<h2 id="-">애플리케이션 보안</h2>
<h2 id="-">디렉티브 작성</h2>
<h2 id="-">고급 디렉티브 작성</h2>
<h2 id="-">웹애플리케이션 작성</h2>

		  <!-- //end -->
		  </div>

      </section>

	  <!-- footer //-->
		        <footer>
		          <p>This project is maintained by <a href="https://github.com/mylko72">mylko72</a></p>
		          <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
		        </footer>

	  <!--// footer -->

    </div>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="http://gregfranko.com/jquery.tocify.js/js/jquery.tocify.js"></script>
    <script src="http://mylko72.github.io/FEDNote/javascripts/scale.fix.js"></script>
	<script src="http://mylko72.github.io/FEDNote/javascripts/highlight.pack.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="/javascripts/marked.js"></script>
	<!--<script src="/javascripts/markdown-toc.js"></script>-->
	<script>hljs.initHighlightingOnLoad();</script>
    
  </body>
</html>
