<!doctype html>
<html ng-app="albumApp">
<head>
	<meta charset="utf-8">
	<title>Dance Best 100</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/common.css">
</head>
<body ng-controller="albumListCtrl">

	<header class="navbar navbar-inverse navbar-fixed-top bs-main-nav">
		<div class="container">
			<div class="text-center">
				<h1>Dance Best 100</h1>
				<p>- 지극히 개인적이고 주관적인 1990~2014 댄스 베스트 100 -</p>
			</div>
		</div>
	</header>

	<div class="container bs-main-container">

		<div class="contents">

			<form role="form">
				<div class="well row">
					<div class="col-md-6">
						<label class="sr-only" for="search">검색어</label>
						<input type="text" class="form-control" id="search" placeholder="검색어를 입력하세요." ng-model="searchKey" />
					</div>
					<div class="col-md-6 text-right">
						Total : {{filteredSongs.length}}
					</div>
				</div>
			</form>

			<table class="table table-bordered table-striped">
				<colgroup>
					<col width="9%">
					<col width="*">
					<col width="15%">
					<col width="25%">
					<col width="15%">
				</colgroup>
				<thead>
					<tr>
						<th ng-click="sort('no')">순위 <i ng-class="{'icon-chevron-up':isSortUp('no'), 'icon-chevron-down':isSortDown('no')}"></i></th>
						<th ng-click="sort('title')">곡명 <i ng-class="{'icon-chevron-up':isSortUp('title'), 'icon-chevron-down':isSortDown('title')}"></i></th>
						<th ng-click="sort('singer')">가수 <i ng-class="{'icon-chevron-up':isSortUp('singer'), 'icon-chevron-down':isSortDown('singer')}"></i></th>
						<th ng-click="sort('album.name')">앨범명 <i ng-class="{'icon-chevron-up':isSortUp('album.name'), 'icon-chevron-down':isSortDown('album.name')}"></i></th>
						<th>작사/작곡</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="song in filteredSongs = (songs | filter:searchKey | orderBy:sortField:reverse) | pagination:currentPage:pageSize">
						<!-- pagination은 사용자정의 필터로 두개의 매개변수를 받는다. (currentPage:현재 페이지 인덱스, pageSize:한페이지에 표시할 목록의 수)-->
						<td>{{($index+1)+((currentPage)*10)}}</td>
						<td><img class="cover" ng-src="{{song.album.cover}}" width="50" height="auto"> {{song.title | trim:8}}</td>
						<td>{{song.singer}}</td>
						<td>{{song.album.name}}</td>
						<td>{{song.album.Lyrics}}/{{song.album.Composed}}</td>
					</tr>
				</tbody>
			</table>
		  	<pagination num-pages="numPages" current-page="currentPage+1" on-select-page="setActivePage(page-1)"></pagination>
		</div>

	</div>

	<!-- inject-vendor:js -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
	<script src="/musicy/js/directives/directive.js"></script>
	<script type="text/javascript">
		(function(){
			'use strict';

			angular.module('albumApp', ['paginationDirective']);

			angular.module('albumApp')
				.controller('albumListCtrl', SongListController)
				/**
				 @filter pagination 
				 페이지 번호 사용자 정의 필터
				 @returnVal function - 실제 필터 함수를 반환 
			     ***@param inputArray - 필터링 할 입력값
				 ***@param selectedPage - 선택된 페이지 인덱스
				 ***@param pageSize - 한 페이지에 표시할 목록의 수
				**/
				.filter('pagination', function(){
					return function(inputArray, selectedPage, pageSize) {
						var start = selectedPage*pageSize;
						return inputArray.slice(start, start + pageSize);
					};
				})
				.filter('trim', function(limitToFilter){
					return function(input, limit) {
						//console.log(input.length, limit);
						if (input.length > limit) {
							return limitToFilter(input, limit-3) + '...';
						}
						return input;
					};
				});


			//노래 리스트를 보여주는 컨트롤러
			function SongListController($scope, $http, $document){

				$scope.songs = [];
				
				$http.get('dance.json')
					.success(function(data){
						$scope.songs = data;
					}).then(function(){
						if($scope.songs.length>0){
							filteredController();
						}

						$scope.toTheTop = function(){
							$document.scrollTop(0, 500);
						}
					});


				function filteredController(){

					//filtering
					$scope.filteredSongs = $scope.songs;

					//sorting
					$scope.sortField = undefined;
					$scope.reverse = false;

					$scope.sort = function (fieldName) {
						if ($scope.sortField === fieldName) {
							$scope.reverse = !$scope.reverse;
						} else {
							$scope.sortField = fieldName;
							$scope.reverse = false;
						}
					};

					$scope.isSortUp = function (fieldName) {
						return $scope.sortField === fieldName && !$scope.reverse;
					};
					$scope.isSortDown = function (fieldName) {
						return $scope.sortField === fieldName && $scope.reverse;
					};

					//pagination
					$scope.pages = [];
					$scope.pageSize = 10;
					$scope.currentPage = 0;
					$scope.$watch('filteredSongs.length', function(filteredSize){
					  console.log(filteredSize);
					  $scope.numPages = Math.ceil(filteredSize / $scope.pageSize);
					  for (var i=0; i<$scope.numPages; i++) {
					  	console.log(i);
						$scope.pages.push(i);
					  }
					});

					$scope.setActivePage = function (pageNo) {
					  if (pageNo >=0 && pageNo < $scope.pages.length) {
						$scope.currentPage = pageNo;
					  }
					};

				}

			}

		})();
	</script>

</body>
</html>
