<!doctype html>
<html ng-app="balladApp">
<head>
	<title>Ballad Best 100</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://bootstrapk.com/examples/carousel/carousel.css">
	<!--<link rel="stylesheet" href="css/common.css">-->
	<link rel="stylesheet" href="css/music.css">
</head>
<body ng-controller="AlbumListCtrl">
	<div class="navbar-wrapper">
		<div class="container">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">LeeKwanOh</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="http://mylko72.maru.net/home/html/index.html?hn=1">Main</a></li>
							<li><a href="http://mylko72.maru.net/home/html/work.html?hn=2">Work</a></li>
							<li><a href="http://mylko72.maru.net/home/html/profile.html?hn=3">Profile</a></li>
							<li><a href="http://mylko72.maru.net/home/html/vim.html?hn=4">Vim</a></li>
							<li><a href="http://mylko72.maru.net/home/html/bookmark.html?hn=5">Bookmark</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Study <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="http://mylko72.gitbooks.io/git/" target="_blank">Git</a></li>
									<li><a href="http://mylko72.github.io/FEDNote/html/markdown/angular-app.html" target="_blank">AngularJS</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<div class="carousel">
		<div class="carousel-inner">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h1>Ballad Best 100</h1>
						<p>- 지극히 개인적이고 주관적인 1985~2014 발라드 베스트 100 -</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container bs-main-container">

		<form role="form">
			<div class="well row">
				<div class="col-md-10">
					<label class="search" for="search"><i class="fa fa-search"></i></label>
					<input type="text" class="form-control" id="search" placeholder="검색어를 입력하세요." ng-model="searchKey" />
				</div>
				<div class="col-md-2 text-right">
					<span class="total">Total : {{filteredSongs.length}}</span>
				</div>
			</div>
		</form>

		<div class="contents">
			<ul class="list-group">
				<li class="list-group-item feature clearfix" ng-repeat="song in filteredSongs = (songs | filter:searchKey | orderBy:sortField:reverse) | pagination:currentPage:pageSize" ng-class="{'bg-white' : !$index%2, 'bg-gray' : $index%2}">
					<div class="clearfix">
					<div class="col-sm-9">
						<span class="badge">{{($index+1)+(currentPage*pageSize)}}</span>
						<h2 class="title"><a ng-click="playYouTube(song, YT_event.PLAY)">{{song.title | trim:8}} <i class="fa fa-youtube-play"></i></a> | {{song.singer}}</h2>
						<p class="album">{{song.album.name}}</p>
						<p class="release">발매 {{song.album.Release}}</p>
						<p class="compose">작사 : {{song.album.Lyrics}} / 작곡 : {{song.album.Composed}}</p>
						<!--<a class="btn btn-default" href="#" ng-click="playYouTube(song, YT_event.PLAY)" role="button">Youtube Play</a>-->
					</div>
					<div class="col-sm-3">
						<a href="#"><img class="cover img-responsive" ng-src="{{song.album.cover}}" width="auto" height="auto"></a>
					</div>
					</div>
				</li>
			</ul>
		  	<pagination num-pages="numPages" current-page="currentPage+1" on-select-page="setActivePage(page-1)"></pagination>
		</div>

	</div>

	<div ng-show="played">
		<div class="playLayer" ng-style="locStyle" ng-controller="YouTubeController">
			<button type="button" class="close" ng-click="closeYouTube(YT_event.STOP)" aria-hidden="true">x</button>
			<div class="clearfix"></div>
				<div class="song-info pull-left">
					<p><img class="cover img-responsive" ng-src="{{songInfo.albumImg}}" width="204" height="auto"></p>
					<p class="artist">{{songInfo.singer}}</p>
					<p class="song">{{songInfo.title}}</p>
					<ul>
						<li>앨범명 : {{songInfo.album}}</li>
						<li>발매일 : {{songInfo.release}}</li>
						<li>작사: {{songInfo.lyrics}}</li>
						<li>작곡: {{songInfo.composed}}</li>
					</ul>
				</div>
				<div class="play-zone pull-right">
					<youtube width="100%" height="100%" videoid="{{songInfo.videoId}}"></youtube>
				</div>
		</div>
	</div>

	<!-- inject-vendor:js -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="/musicy/js/directives/pagination.js"></script>
	<script src="/musicy/js/directives/youtube.js"></script>
	<script src="/musicy/js/services/mouseclick.js"></script>
	<script src="/musicy/js/balladApp.js"></script>
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':3001/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
